<section id="work" class="work-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our <span>Work</span></h2>
            <p>Some of past projects which this team has done are the following:</p>
        </div>
        <div class="strategy-content ptb-70">
            <ul class="features-list">
                <li><i class="fa fa-check"></i>Wateen project details</li>
                <li><i class="fa fa-check"></i>Mercurial project details</li>
                <li><i class="fa fa-check"></i>Telenor EasyPaisa ops details</li>
                <li><i class="fa fa-check"></i>ET K2 Wireless Projector and KVM application</li>

            </ul>
      
        </div>
        
       
    </div> 
</section>