<section id="team" class="about-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h4>Meet Addax</h4>
            <h2>Our Creative <span>Team</span></h2>
            <p>Combined synergistic profile of the following three persons who are considering joining hands to work
                together by making a company.
            </p>
            <div class="strategy-content ptb-70">
            <ul class="features-list">
                <li><i class="fa fa-check"></i>M.Taha Masood <a href="https://www.linkedin.com/in/mtahamasood/" class="fab fa-linkedin-in"></a></li>
                <li><i class="fa fa-check"></i>Zaka Kiani <a href="https://www.linkedin.com/in/zakakiani/ " class="fab fa-linkedin-in"></a></li>
                <li><i class="fa fa-check"></i>Alam Sher Khan <a href="https://www.linkedin.com/in/alamsher/" class="fab fa-linkedin-in"></a> </li>
            </ul>
            <p>
                The profile of each of them with their expertise and skills is listed below:
            </p>
        </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2><span>M.Taha Masood</span></h2>
                        <p>Taha is a techie at heart with many years of business and consulting experience .
                            He has worked in top companies in Pakistan and USA in all roles of the SDLC , and hence sees
                            things from multiple perspectives . His areas of technical expertise and interest in
                            specific are below:</p>
                            <ul class="features-list">
                                <li><i class="fa fa-check"></i>C programming</li>
                                <li><i class="fa fa-check"></i>System programming</li>
                                <li><i class="fa fa-check"></i>Scalable server side software</li>
                                <li><i class="fa fa-check"></i>Network protocol implementation</li>
                                <li><i class="fa fa-check"></i>Telecommunications , specifically Telecom BSS/OSS</li>
                                <li><i class="fa fa-check"></i>Linux</li>
                                <li><i class="fa fa-check"></i>Things at the intersection of all of the above , at the overlap which is increasing daily e.g Telecom and network gear these days is almost all software on top of common off the shelf hardware  , even increasingly on the RAN side . </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/m_taha.jpeg" alt="team-img">
                    </div>

                    <div class="content">
                        <h3 class="title">M.Taha Masood</h3>
                    </div>

                    <div class="social">
                        <ul>          
                            <li><a href="https://www.linkedin.com/in/mtahamasood/" class="fab fa-linkedin-in"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/team-1.jpg" alt="team-img">
                    </div>

                    <div class="content">
                        <h3 class="title">Zaka Kiani</h3>
                    </div>

                    <div class="social">
                        <ul>
                            <li><a href="https://www.linkedin.com/in/zakakiani/ " class="fab fa-linkedin-in"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2><span>Zaka Kiani</span></h2>
                        <p>Zaka is an experienced System Architect with a demonstrated history of working in the computer software industry. Strong engineering professional skilled in Layer 7 Dispatchers, Protocol Stack Development, Diameter, Radius, Session Initiation Protocol (SIP), Media Servers, C, Python, Node.js .
                            He is an expert in writing carrier grade software for the domain of telecommunications.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <h2><span>Alam Sher Khan</span></h2>
                        <p>Alam Sher Khan has over thirteen years of experience working primarily in Java/J2EE stack building and managing enterprise grade solutions for Finance, Banking and Telecom sectors. He has hands-on experience with advanced frameworks like Spring, Groovy/Grails, Hibernate and many other frameworks for Java enterprise/desktop and mobile application design and development.
                            He specialises in the design, analysis and development of enterprise applications, utilising Java and service oriented technologies.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-team-box">
                    <div class="image">
                        <img src="assets/img/alam_sher.jpeg" alt="team-img">                   
                    </div>

                    <div class="content">
                        <h3 class="title">Alam Sher Khan</h3>
                    </div>

                    <div class="social">
                        <ul>
                            <li><a href="https://www.linkedin.com/in/alamsher/" class="fab fa-linkedin-in"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>