<section id="about" class="about-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>About <span>ZATech</span></h2>
            <p>ZATech Systems is a services company with a razor sharp focus on providing  services in the areas of embedded systems , data networking applications, telecommunications ( BSS, OSS , signaling and media)  , big data processing and all the overlapping areas of these domains.</p>
        </div>
        
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                 
                    <p>ZATech Systems was founded by three friends and technology veterans , who have the very big advantage of working together in many complex successful projects in the past. This synergy of expertise and ‘team gelling’ results in orders of magnitude in effectiveness and demonstrated value for our clients. 

                        We aspire to be one the best in class services companies in our areas of interest and expertise.</p>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-12">
                <div class="about-video">
                    <img src="assets/img/abouta.jpg" alt="about">
                   
                </div>
            </div>
        </div>
    </div>
</section>