<section id="services" class="services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our <span>Services</span></h2>
            <p>ZATech systems at its core possesses the following skill set:</p>
        </div>
        <div class="strategy-content ptb-70">
            <ul class="features-list">
                <li><i class="fa fa-check"></i>Embedded Systems</li>
                <li><i class="fa fa-check"></i>Linux Systems Programming</li>
                <li><i class="fa fa-check"></i>Event driven asynchronous programming</li>
                <li><i class="fa fa-check"></i>Network protocol development</li>
                <li><i class="fa fa-check"></i>Systems Integration and any necessary “gluing” together of components</li>
                <li><i class="fa fa-check"></i>Scalable server side software development</li>
                <li><i class="fa fa-check"></i>Big Data processing</li>
                <li><i class="fa fa-check"></i>Enterprise applications ecosystem utilising Java technologies</li>
                <li><i class="fa fa-check"></i>Business Analysis</li>
                <li><i class="fa fa-check"></i>Software Requirements Management</li>
                <li><i class="fa fa-check"></i>Software Project Management</li>
                <li><i class="fa fa-check"></i>Telecom business support systems ( BSS)</li>
                <li><i class="fa fa-check"></i>Telecom operations support systems ( OSS )</li>
                <li><i class="fa fa-check"></i>Telecom Signaling protocols including but not limited to SS7 , SIGTRAN , Radius, DIAMETER , SIP and others</li>
                <li><i class="fa fa-check"></i>Internet protocols of the IETF family</li>
                <li><i class="fa fa-check"></i>Telecom 2G,3G,4G and 5G protocols , networks and applications</li>
                <li><i class="fa fa-check"></i>Multimedia codecs  e.g. H264 , MPEG , uLAW ,  etc </li>
            </ul>
      
        </div>

    </div>
</section>